* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    background-color: #D9D9D9;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#header {
    display: flex;
    flex-direction: row;
    background-color: #257B81;
    width:100%;
    height: 80px;
    border-bottom: solid black 3px;
    align-items: center;
    justify-content: center;
}

#header a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
}

#header a:hover {
    background-color: #195053;
}

.dropdownbtn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    height: 100%;
}

.dropdownbtn:hover {
    background-color: #195053;
}

.dropdown {
    position: relative;
    height: 100%;
}

.dropdown_content {
    top:100%;
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    min-width: 200px;
}

.dropdown_content a {
    padding:10px;
    border-bottom: black solid 3px;
    color: black !important;
}

.dropdown_content a:hover {
    background-color: #D9D9D9 !important;
}

.dropdown:hover .dropdown_content {
    display: block;
}



#main_container {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: white;
    padding:40px;
}

#login_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: white;
}

#dashboard_table {
    border-collapse: collapse;
    width: 100%;
}

#dashboard_table tr {
    border-bottom: solid 1px;
    text-align: left;
}

#dashboard_table td, th {
    padding-top: 20px; 
    padding-bottom: 20px;
}

.dashboard_button {
    font-weight: bold;
    color: white;
    background-color:#257B81;
    padding: 15px;
    border-style: none;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.dashboard_button:hover {
    background-color:#195053;
}

#waarde_container {
    width: 100%;
    font-weight: bold;
    margin-top: 50px;
    padding-bottom:20px;
    align-self: flex-start;
    text-align: left;
    border-bottom: solid 1px;
}

#logo {
    height: 80px;
}

#locatie_container {
    align-self: flex-start;
}

#locatie_container select {
    padding: 15px;
    border-radius: 10px;
    border: solid black 1px;
}

#select {
    padding: 15px;
    border-radius: 5px;
    border: solid black 1px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

#login {
    background-color: #D9D9D9;
    border: solid black 1px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 30%;
}

.input {
    font-weight: bold;
    background-color:white;
    padding: 15px;
    border: solid black 1px;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}

.login_button {
    cursor: pointer;
    background-color: #257B81;
    color: white;
    padding: 15px;
    border-style: none;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

.form_button {
    cursor: pointer;
    background-color: #257B81;
    color: white;
    padding: 15px;
    border-style: none;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}

.delete_button {
    cursor: pointer;
    align-self: flex-start;
    all: unset;
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

.delete_button:hover {
    background-color: rgb(185, 0, 0);
}

.form_button:hover {
    background-color: #195053;
}

.error {
    color:red;
}

.notif {
    color: rgb(1, 194, 1);
}

#current_page {
    background-color: #22989e;
}

#form_container {
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
}

.back_button {
    align-self: flex-start;
    background-color: #257B81;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    display: inline-block;
}

.back_button:hover {
    background-color: #195053;
}

.link {
    background-color: #257B81;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    display: inline-block;
}

.link:hover {
    background-color: #195053;
}

.koptekst {
    text-align: center;
    width: 80%;
    padding: 25px;
    margin: 25px;
    border-bottom: solid black 3px;
}